.card {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);        
    padding: 20px;
    margin: 10px;
    text-align: center;
     max-width: 250px;
    display: inline-block;}

.card:hover {
    box-shadow: 0 8px 16px 0 #2ada5f33;
    transform: translateY(-5px);
}

.card:active {
    transform: translateY(5px);
}
.card .image{
    max-width: 70%;
    height: auto;
    border-radius: 50%;
}
  .card .title{
    font-family : Arial, sans-serif;
    margin : 0px;
    color : hsl(0, 0%, 20%);
  }
  .card .description{
    font-family : Arial, sans-serif;
    color : hsl(0, 0%, 30%);
  }

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 8px;
}